<div [ngStyle]="{'height':clientHeight + 'px','width':clientWidth + 'px'}">
    <div class="alert alert-primary" style="margin: 0px;">
        <img [src]="this.iconMgr.icon_coin" width="16px" height="16px" />所持金魂币：{{this.bagmgr.Money}}
        <input type="button" class="btn btn-sm btn-danger" style="float: right;margin: 0px;" (click)="Exit()"
            value="退出" />
    </div>
    <table class="table table-striped" style="width: 100%;padding: 0;margin: 0px;background-color: blanchedalmond;">
        <thead>
            <tr>
                <th scope="col" style="width: 80px;">名称</th>
                <th scope="col">描述</th>
                <th scope="col" style="width: 50px;">价格</th>
                <th scope="col" style="width: 50px;">所持</th>
                <th scope="col" style="width: 70px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody [ngStyle]="{'height':clientHeight - 75 + 'px'}">
            <tr *ngFor="let t of this.ge.StoreToolList">
                <td style="width: 80px;"><img [src]="t.Icon" width="16px" height="16px" /> {{t.Name}}</td>
                <td style="text-align: left;">{{t.Skill.Instruction()}}</td>
                <td style="width: 50px;">{{t.Price}}</td>
                <td style="width: 50px;">{{this.bagmgr.getToolHoldCnt(t.Name)}}</td>
                <td style="width: 70px;"><button class="btn btn-primary"
                        [disabled]=" this.bagmgr.Money < t.Price " (click)="Buy(t)">购买</button></td>
            </tr>
        </tbody>
    </table>
</div>