<div style="position:relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;"
    [ngStyle]="{'height':clientHeight + 'px','width':clientWidth + 'px','background-image': 'url(/assets/scene/' + this.scene.Background  + '.jpg)'}"
    (click)="Next()">
    <h6 style="color: aliceblue;">{{this.scene.Title}}</h6>
    <button class="btn btn-danger" (click)="Exit()" style="float: right;">休息</button>
    <button class="btn btn-primary" (click)="Forest()" style="float: right;">星斗大森林</button>
    <button class="btn btn-primary" (click)="Store()" style="float: right;">商店</button>
    <button class="btn btn-primary" (click)="Status()" style="float: right;">图鉴</button>

    <div *ngIf="this.WaitForBranchPicker"
        style="position: absolute;z-index: 99; bottom: 300px;width: 100%;height: 100px;text-align: center;">
        <button *ngFor="let q of this.BranchInfo" class="btn btn-lg btn-success" style="width:80% ;margin: 10px;"
            (click)="Branch(q[1])">{{q[0]}}</button>
    </div>

    <div style="position: absolute;z-index: 99; bottom: 100px;width: 100%;height: 150px;">
        <!-- <img [src]="'/assets/character/' + faceurl + '/图鉴.png'" height="200px" width="100px" style="float: right;" /> -->
        <img [src]="'/assets/character/' + faceurl + '/头像.png'" height="150px" width="200px" style="float: right;" />
    </div>
    <div
        style="position: absolute;z-index: 99; bottom: 0px;width: 100%;height: 100px;background-color: dodgerblue;opacity: 0.9;">
        <h5 style="color: aliceblue;margin: 10px;">
            {{faceurl + ":"}}<br />{{line}}
        </h5>
    </div>
</div>