<div [ngStyle]="{'background-image': 'url(/assets/scene/' + this.scene.Background + '.jpg)'}"
    style="position:relative;height:0;padding-bottom: 150%;width: 100%;background-size: contain;" (click)="Next()">
    <h6 style="color: aliceblue;">{{this.scene.Title}}</h6>
    <button class="btn btn-lg btn-success" (click)="Status(2)" style="float: right;">小舞状态</button>
    <button class="btn btn-lg btn-success" (click)="Status(1)" style="float: right;">唐三状态</button>
    <div
        style="position: absolute;z-index: 99; bottom: 0px;width: 100%;height: 100px;background-color: dodgerblue;opacity: 0.8;">
        <img [src]="'/assets/character/' + this.faceurl + '/头像.jpg'" height="100px" width="100px" style="float: left;"  />
        <h5 style="color: aliceblue;margin: 10px;">
            {{line}}
        </h5>
    </div>
</div>