/* You can add global styles to this file, and also import other style files */

* {
  font-size: 12px;
}

table {
  /*设置相邻单元格的边框间的距离*/
  border-spacing: 0;
  /*表格设置合并边框模型*/
  border-collapse: collapse;
  text-align: center;
}

/*关键设置 tbody出现滚动条*/

table tbody {
  display: block;
  height: 100px;
  overflow-y: scroll;
}

table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
table thead th {
  background: #ccc;
}

table tbody tr {
  line-height: 20px;
}