<div class="container" style="width: 320px;">
    <div class="row" style="height: 100px;">
        <div class="col-3">
            <app-formationItem [Item]="R1C1" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R1C2" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R1C3" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R1C4" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
    </div>
    <div class="row" style="height: 100px;">
        <div class="col-3">
            <app-formationItem [Item]="R2C1" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R2C2" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R2C3" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
        <div class="col-3">
            <app-formationItem [Item]="R2C4" (ItemClickedEmit)="ItemClicked($event)">
            </app-formationItem>
        </div>
    </div>
</div>