<div style="padding:2px;width: 70px;" *ngIf="Item !==undefined">
    <img [src]="'/assets/character/' + Item.Name + '/头像.jpg'" width="70px" height="70px">
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': (Item.HP * 100/ Item.MaxHP) + '%'}">
            {{Item.HP + "/" + Item.MaxHP}}</div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar"
            [ngStyle]="{'width': (Item.MP * 100/ Item.MaxMP) + '%'}">
            {{Item.MP + "/" + Item.MaxMP}}</div>
    </div>
    <!-- <font color="white">{{Item.Name}}LV:{{Item.LV}}({{Item.Grade()}})</font> -->
</div>