<div class="container" style="width: 320px;">
    <!--前排-->
    <div class="row">
        <div class="col-3" style="padding:5px;text-align: center;">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
            唐三(唐门)
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
            唐三(唐门)
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
            长老(唐门)
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
            毕比东
        </div>
    </div>
    <!--后排-->
    <div class="row">
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
        </div>
        <div class="col-3" style="padding:5px">
            <img src="/assets/character/唐三/头像.jpg" width="70px" height="70px">
        </div>
    </div>
</div>