<div [ngStyle]="{'background-image': 'url(/assets/scene/' + this.ge.fightStatus.info.Background + '.jpg)'}"
    style="position:relative;height:0;padding-bottom: 150%;width: 100%;background-size: contain; ">
    <button class="btn btn-lg btn-danger" (click)="Exit()" style="float: right;">胜利</button>
    <button class="btn btn-lg btn-danger" (click)="SkillTest()" style="float: right;">状态改变</button>
    <h6 style="color: aliceblue;width: 50%;">{{this.ge.fightStatus.info.Title}}</h6>
    <br />
    <app-formation [Fighterlist]="this.ge.fightStatus.Enemy" (ItemClickedEmit)="ItemClicked($event)"></app-formation>
    <br />
    <app-formation [Fighterlist]="this.ge.fightStatus.MyTeam" (ItemClickedEmit)="ItemClicked($event)"></app-formation>

    <div class="container" *ngIf="FightEnd"
        style="position: absolute;z-index: 1000; bottom: 300px;width: 100%;height: 100px;background-color: lightyellow;opacity: 0.7;">
        <h1>{{this.FightResultTitle}}</h1>
    </div>


    <div class="container" *ngIf="SkillPickStatus"
        style="position: absolute;z-index: 1000; bottom: 210px;width: 100%;height: 200px;background-color: lightyellow;opacity: 0.95;">
        <table class="table table-striped"  style="width: 100%;padding: 0px;margin: 0px; height: 160px;">
            <thead>
                <tr style="width: 100%;padding: 0;">
                    <th scope="col" style="width: 60px;">名称</th>
                    <th scope="col">描述</th>
                    <th scope="col" style="width: 50px;">魂力</th>
                    <th scope="col" style="width: 60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr style="width: 100%;padding: 0;" *ngFor="let skill of this.ge.fightStatus.currentActionCharater.Skill_A">
                    <td style="width: 60px;">{{skill.Name}}</td>
                    <td style="text-align: left;">{{skill.Description}}</td>
                    <td style="width: 50px;">{{skill.MpUsage()}}</td>
                    <td style="width: 60px;"><button class="btn btn-sm btn-primary" [disabled]=" this.ge.fightStatus.currentActionCharater.MP < skill.MpUsage() " (click)="ExcuteSkill(skill)">发动</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" (click)="ReturnFormSkillPicker()" style="float: right;">返回</button>
    </div>

    <div class="container" *ngIf="ToolPickStatus"
        style="position: absolute;z-index: 1000; bottom: 210px;width: 100%;height: 200px;background-color: lightyellow;opacity: 0.95;">
        <table class="table table-striped"  style="width: 100%;padding: 0px;margin: 0px; height: 160px;">
            <thead>
                <tr style="width: 100%;padding: 0;">
                    <th scope="col" style="width: 60px;">名称</th>
                    <th scope="col">描述</th>
                    <th scope="col" style="width: 60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr style="width: 100%;padding: 0;" *ngFor="let tool of this.ge.gamestatus.toolbag">
                    <td style="width: 60px;">{{tool[0]}}</td>
                    <td style="text-align: left;">{{this.ge.getTool(tool[0]).Func.Description}}</td>
                    <td style="width: 60px;"><button class="btn btn-sm btn-primary" (click)="UseTool(tool[0])">使用</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" (click)="ReturnFormToolPicker()" style="float: right;">返回</button>
    </div>

    <div class="container"
        style="position: absolute;z-index: 99; bottom: 0px;width: 100%;height: 100px;background-color: dodgerblue;opacity: 1;">
        <div class="row">
            <div class="col-4" style="padding:0px;">
                <img [src]="'/assets/character/' + this.ge.fightStatus.currentActionCharater.Name + '/头像.jpg'"
                    height="100px" width="100px" />
            </div>
            <div class="col-5" style="padding:0px">
                <h5 style="color: aliceblue;margin: 0px;">{{this.Message}}</h5>
                <div class="container" style="padding:0px">
                    <div class="row" style="margin: 2px;padding:0px">
                        <div class="col-6" style="padding:0px">
                            <button class="btn  btn-danger" style="width: 90%;" (click)="Attack()">普攻</button>
                        </div>
                        <div class="col-6" style="padding:0px">
                            <button class="btn  btn-danger" style="width: 90%;" (click)="Skill()">魂技</button>
                        </div>
                    </div>
                    <div class="row" style="margin: 2px;padding:0px">
                        <div class="col-6" style="padding:0px">
                            <button class="btn btn-danger" style="width: 90%;" (click)="Tool()">道具</button>
                        </div>
                        <div class="col-6" style="padding:0px">
                            <button class="btn btn-danger" style="width: 90%;" (click)="Defence()">防御</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding:0px;">
                命&nbsp;{{this.ge.fightStatus.currentActionCharater.HP}} /
                {{this.ge.fightStatus.currentActionCharater.MaxHP}} <br />
                魂&nbsp;{{this.ge.fightStatus.currentActionCharater.MP}} /
                {{this.ge.fightStatus.currentActionCharater.MaxMP}} <br />
                攻&nbsp;{{this.ge.fightStatus.currentActionCharater.RealTimeAct}} <br />
                防&nbsp;{{this.ge.fightStatus.currentActionCharater.RealTimeDef}} <br />
                中毒&nbsp;麻痹
            </div>

        </div>
    </div>
</div>