<div [ngStyle]="{'background-image': 'url(/assets/scene/战斗场地.jpg)'}"
    style="position:relative;height:0;padding-bottom: 150%;width: 100%;background-size: contain; ">
    <button class="btn btn-lg btn-danger" (click)="Exit()" style="float: right;">退出</button>
    <h6 style="color: aliceblue;width: 50%;">记忆力游戏</h6>
    <br /><br /><br />
    <div class="container" *ngFor="let R of [0,1,2,3,4,5]" [style]="{'padding':'0px','width':52 * 6 + 'px'}">
        <div class="row">
            <div *ngFor="let C of [0,1,2,3,4,5]" class="col-2" style="padding: 0px;">
                <minigame-cell [ImageName]="PullzeArray.getValue(R,C)" [Status]="HideStatus"
                    (cellClicked)="CellClicker($event)"></minigame-cell>
            </div>
        </div>
    </div>
</div>