<div class="alert alert-primary" style="margin: 0px;">
    图鉴
    <input type="button" class="btn btn-sm btn-danger" style="float: right;margin: 0px;" (click)="Exit()" value="退出" />
</div>
<table class="table table-striped" style="width: 100%;padding: 0;margin: 0px;background-color: blanchedalmond;">
    <tbody style="height:480px;">
        <tr *ngFor="let t of this.ge.PictorialBook" (click)="this.ge.currentRole = this.ge.GetRoleByName(t.Name);this.router.navigateByUrl('status');">
            <td width="50px"><img [src]="'/assets/character/' + t.Name + '/头像.jpg'" height="50px" width="50px" /></td>
            <td width="60px">{{t.Name}}</td>
            <td>{{t.Description}}</td>
        </tr>
    </tbody>
</table>